
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// Customs style
.topmenu {
  margin-top: 10px;
}

span.logo img {
  height: 30px;
}

.hero-banner img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

.book-container {
  margin-top: 40px;
}

.footer {
  background: #050d38;
  color: #fff;
  padding: 20px;
  margin-top: 40px;
}